<!DOCTYPE html>
<html ng-app="shPhoto">

  <head lang="en">
    <meta charset="utf-8">
    <title>Sophia Hogman Photography</title>
    <!-- include scripts -->
    <script src="scripts/frameworks/jquery-1.11.1.min.js"></script>
    <script src="scripts/frameworks/angular.js"></script>
    <script src="scripts/frameworks/bootstrap.min.js"></script>
    <script src="scripts/main.js"></script>
    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Crafty+Girls|Quicksand|Josefin+Sans|Raleway:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/default.css" type="text/css"/>
  </head>

  <body>
    
    <div id="navigation-menu" class="center" ng-controller="MenuController">
    <div id="header-logo" class="center">
      <h1>SOPHIA HOGMAN</h1>
    </div>
      <div class="center">
        <ul>
          <li ng-repeat="category in categories"><span>{{ category.header }}</span></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="parallax">
        <div class="parallax__group">
          <div class="parallax__layer parallax__layer--back">
            <img class="auto-resize" src="img/natur-big.jpg"/>
          </div>
          <div class="parallax__layer parallax__layer--base">
            <img class="auto-resize" src="img/placeholder-big.png"/>
            <div class="full-width white">
              <div class="center" id="main-content" ng-controller="ImageController">
                <div class="image-container" ng-repeat="image in images">
                  <img class="img-thumb" src="{{image.src}}"/>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>

  </body>
</html>