/*
*	font-family: 'Crafty Girls', cursive;
*	font-family: 'Quicksand', sans-serif;
*	font-family: 'Josefin Sans', sans-serif;
*	font-family: 'Raleway', sans-serif;
*/

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8vh;
    width: 100%;
    background-color: #EEEEEE;
    z-index: 100;
    border-top: 0.3vh solid #999;
}

body {
	padding: 0px;
    margin: 0 0 8vh; /* bottom = footer height */
    font-family: 'Quicksand'
}

h1{
	text-align: center;
	font-size: 1.8em;
	font-family: 'Crafty Girls';
    margin-bottom: 0px;
    padding-bottom: 0px;
}

p{
	color: white;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.image-container{
	margin-top: 2vh;
	display: inline-block;
	padding: 1vmin;

}

.photo{
	width: auto;
	height: auto;
	overflow: hidden;
	position: relative;
	background-color: white;
	padding: 1.5vmin;
	
}

img.img-thumb{
	width: 20vmin;
	height: auto;
	/*border: 1.5vmin solid #FFF;*/
}

.photo-overlay{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 96%;
	background-color: #fff;
	opacity:0.2;
	z-index: 200;
}

.white{
	background-color: #F9F9F9;
}

.auto-resize{
	min-width: 100vh;
	height: auto;
	/*min-height: 90vh;*/
	margin-top: auto;
	margin-bottom: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#navigation-menu {
	position: fixed;
	width: 100%;
	height: 100px;
	z-index: 100;
	background-color: white;
	border-bottom: 0.4vh solid #999;
}

	#navigation-menu ul{
		text-align: center;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

		#navigation-menu  li {
			font-family: 'Raleway';
			display: inline;
			text-align: -webkit-match-parent;
			letter-spacing: 1px;
			padding-bottom: 10px;
		}

			#navigation-menu li span {
				margin-right: 10vw;
				cursor: pointer;
				position: relative;
				letter-spacing:1px; 
			    -webkit-transition: letter-spacing, 0.1s;
			    -moz-transition: letter-spacing, 0.1s;
			    -o-transition: letter-spacing, 0.1s;
			    transition: letter-spacing, 0.1s;
			}

			#navigation-menu li span:hover {
				letter-spacing:3px;
			}

			#navigation-menu li:last-child span {
			   	margin-right: 0px;
			}

#small-nav {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 8px;
	z-index: 100;
	background-color: white;
	border-bottom: 0.5vmin solid #666;
	border-top: 0.5vmin solid #666;
	opacity: 0.8;
}

	#small-nav ul{
		text-align: center;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

		#small-nav  li {
			font-family: 'Quicksand';
			display: inline;
			text-align: -webkit-match-parent;
			letter-spacing: 1px;
			padding-bottom: 10px;
		}

			#small-nav li span {
				margin-right: 6vw;
				cursor: pointer;
				position: relative;
				letter-spacing:1px; 
			}

			#small-nav li:last-child span {
			   	margin-right: 0px;
			}


.content-div{
	
	padding-top: 100px;
	/*background-color: #CCCCCC;*/
	min-height: 100vh;
	height: auto;
}
#main-content{
}

#second{
	background-image: url('../img/fabric.jpg');
}

#third{
	/*background-image: url('../img/coal.jpg');
	background-color: #CCC;
*/}

.transparent{
	opacity: 0.4;
}

.container {
}

/*Parallax scrolling */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  	transform: translateZ(0);
}
.parallax__layer--back {
	padding-top: 100px;
  transform: translateZ(-2px) scale(3);
}